# Dictionaries, Tuples and Sets

### Dictionaries
So far we've only seen how to store data types in sequences like storing characters in a string or items in a list. But what if we want to store information another way? Python support Dictionaries which is a key-item data structure. 

The choice of deciding between sequences like a list and mappings like a dictionary often depends on the specific situation. As you become a stronger programmer, choosing the right storage format will become more intuitive.

Let's cover the basics of dictionaries!

## Creating a Dictionary

In [1]:
new_dict = {"item1": 1,
           "item2" : 2,
           "item3" : "Abuja"}

In [2]:
new_dict

{'item1': 1, 'item2': 2, 'item3': 'Abuja'}

In [3]:
new_dict["item3"] = "Kano"

In [4]:
new_dict

{'item1': 1, 'item2': 2, 'item3': 'Kano'}

In [5]:
# Make a dictionary with {} and : to signify a key and a value
d = {'key1':'value1','key2':'value2', 'key3': 'value3' }

In [6]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [7]:
# Call values by their key
d['key1']

'value1'

In [8]:
d['key2']

'value2'

### Adding New Key-Item Pairs

In [9]:
d['new_key'] = 'new item'

In [10]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'new_key': 'new item'}

**Note: Dictionaries are unordered! *This may not be clear at first with smaller dictionaries, but as dictionaries get larger they won't retain order, which means they can not be sorted!* If you need order and the ability to sort, stick with a sequence, like a list!**

In [11]:
d = {'a':1,'z':2}

In [12]:
d

{'a': 1, 'z': 2}

In [13]:
d['new'] = 0

In [14]:
d

{'a': 1, 'z': 2, 'new': 0}

In [15]:
d['za'] = 'hello'

In [16]:
d

{'a': 1, 'z': 2, 'new': 0, 'za': 'hello'}

Dictionaries are very flexible in the data types they can hold, they can hold numbers, strings, lists, and even other dictionaries!

In [17]:
d = {'k1':10,
     'k2':'stringy',
     'k3':[1,2,3,],
     'k4':{'inside_key':[20,30,40, {"keyinside": [60,20, "thirty"]}]}}

In [18]:
d

{'k1': 10,
 'k2': 'stringy',
 'k3': [1, 2, 3],
 'k4': {'inside_key': [20, 30, 40, {'keyinside': [60, 20, 'thirty']}]}}

In [19]:
d["k4"]["inside_key"][3]["keyinside"][1:]

[20, 'thirty']

In [20]:
d['k2']

'stringy'

In [21]:
d['k1']

10

In [22]:
d['k2']

'stringy'

In [23]:
d['k3']

[1, 2, 3]

In [24]:
d['k3'][0]

1

In [25]:
d['k4']

{'inside_key': [20, 30, 40, {'keyinside': [60, 20, 'thirty']}]}

In [26]:
d['k4']['inside_key']

[20, 30, 40, {'keyinside': [60, 20, 'thirty']}]

In [27]:
d['k4']['inside_key'][3]['keyinside'][2]

'thirty'

Error if you ask for a key that isn't there!

In [28]:
d['oops']

KeyError: 'oops'

Keep dictionaries in mind when you need to create a mapping and don't care about order! 

For example:

In [29]:
short_names = {"AAU": "Ambrose Alli University",
             "OAU": "Obafemi Awolowo University",
             "UNILAG": "University of Lagos",
             "NDA": "Nigeria Defence Academy"}

In [30]:
short_names

{'AAU': 'Ambrose Alli University',
 'OAU': 'Obafemi Awolowo University',
 'UNILAG': 'University of Lagos',
 'NDA': 'Nigeria Defence Academy'}

In [31]:
short_names["AAU"]

'Ambrose Alli University'

In [32]:
short_names['UI']

KeyError: 'UI'

In [33]:
short_names['UI']= 'University of Ibadan'

In [34]:
short_names

{'AAU': 'Ambrose Alli University',
 'OAU': 'Obafemi Awolowo University',
 'UNILAG': 'University of Lagos',
 'NDA': 'Nigeria Defence Academy',
 'UI': 'University of Ibadan'}

Another example of using Dictionaries...

In [35]:
pop_in_mil = {"Nigeria": 250,
              "USA":400,
              "Germany": 90,
              "India": 1324}

In [36]:
pop_in_mil["Nigeria"]

250

## Methods

In [37]:
short_names.values()

dict_values(['Ambrose Alli University', 'Obafemi Awolowo University', 'University of Lagos', 'Nigeria Defence Academy', 'University of Ibadan'])

In [38]:
short_names.keys()

dict_keys(['AAU', 'OAU', 'UNILAG', 'NDA', 'UI'])

In [39]:
short_names.items()

dict_items([('AAU', 'Ambrose Alli University'), ('OAU', 'Obafemi Awolowo University'), ('UNILAG', 'University of Lagos'), ('NDA', 'Nigeria Defence Academy'), ('UI', 'University of Ibadan')])

# Tuples 

Tuples are ordered sequences just like a list, but have one major difference, they are **immutable**. Meaning you can not *change* them. So in practice what does this actually mean? It means that you can not reassign an item once its in the tuple, unlike a list, where you can do a reassignment.

Let's see this in action:

## Creating a Tuple

You use parenthesis and commas for tuples:

In [40]:
t = (1,2,3)

In [41]:
t

(1, 2, 3)

In [42]:
type(t)

tuple

In [43]:
# Mixed data types are fine
t = ('a',1)

In [44]:
t

('a', 1)

In [45]:
# Indexing works just like a list
t[0]

'a'

## Immutability

In [46]:
mylist = [1,2,3]

In [47]:
type(mylist)

list

In [48]:
# No problem for a list!
mylist[0] = 'new'

In [49]:
mylist

['new', 2, 3]

In [50]:
t = (1,2,3)

In [51]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

You also can't add items to a tuple:

In [52]:
t.append('NOPE!')

AttributeError: 'tuple' object has no attribute 'append'

## Tuple Methods

Tuples only have two methods available .index() and count()

In [53]:
t = ('a','b','c','a')

In [54]:
t

('a', 'b', 'c', 'a')

In [55]:
# Returns index of first instance!
t.index('a')

0

In [56]:
t.count('b')

1

In [57]:
t.count('a')

2

## Why use tuples?

Lists and tuples are very similar, so you may find yourself exchanging use cases for either one. However, you should use a tuple for collections or sequences that shouldn't be changed, such as the dates of the year, or user information such as an address,street, city , etc.

# Sets

Another fundamental Data Structure is The Set!

Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works:

## Constructing Sets

In [58]:
x = set()

In [59]:
x

set()

In [60]:
x.add(1)

In [61]:
x

{1}

In [62]:
x.add(2)

In [63]:
x

{1, 2}

Note the curly brackets. This does not indicate a dictionary!

A set has only unique entries. So what happens when we try to add something that is already in a set?

In [64]:
x.add(1)

In [65]:
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [66]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [67]:
set(mylist)

{1, 2, 3}

You can also quickly create a set with just {}

In [68]:
myset = {1,2,3,3,3,3,3,3}

In [69]:
myset

{1, 2, 3}

In [70]:
type(myset)

set