## VARIABLES AND DATATYPES IN PYTHON

### Python Scalar Types
We begin by discussing the basic scalar types in Python. These are __INTEGERS, FLOATS AND BOOLEAN AND STRINGS__

### PYTHON NUMBERS
Integers are whole numbers, while Float (floating point) numbers are numbers with a decimal point.

In [1]:
100

100

100

In [2]:
type(100)

int

int

In [3]:
type(50)

int

int

In [4]:
1.2

1.2

1.2

In [5]:
type(1.2)

float

float

In [6]:
type(100.0)

float

float

In [7]:
type(100.)

float

float

# Assigning Variables

In [8]:
a = 40

In [9]:
a

40

40

In [10]:
type(a)

int

int

In [11]:
a + 3

43

43

In [12]:
b = 5

In [13]:
print(b)

5
5

In [14]:
a / b

8.0

8.0

In [15]:
# Reassignment
a = 1000

In [16]:
a

1000

1000

In [17]:
a + b

1005

1005

### Reassignment with same variable

In [18]:
a = 1000

In [19]:
a

1000

1000

In [20]:
# Keep in mind, if you run this more than once, you will keep running a = a+a! 
a = a + a

In [21]:
a

2000

2000

In [22]:
a = a + a

In [23]:
a

4000

4000

In [24]:
a = a + a

In [25]:
a

8000

8000

In [26]:
c = 5.7

In [27]:
c

5.7

5.7

In [28]:
type(c)

float

float

# Python Strings

**A string is an ordered sequence of characters**. Two key words here, **ordered** and **characters.** Ordered means that we will be able to use *indexing* and *slicing* to grab elements from the string.

## Creating strings.

In [29]:
# Comment. Won't show up when you run a script.

In [30]:
# Single or double quotes are okay.
"hello this is my first string"

'hello this is my first string'

'hello this is my first string'

In [31]:
"hello"

'hello'

'hello'

In [32]:
'Hello, welcome to python'

'Hello, welcome to python'

'Hello, welcome to python'

In [33]:
print('Hello, welcome to python')

Hello, welcome to python
Hello, welcome to python

In [34]:
"The boy has 17 chickens"

'The boy has 17 chickens'

In [36]:
17

17

In [37]:
"Modinat has a big head"

'Modinat has a big head'

In [38]:
# Keep in mind potential errors
'I\'m a beginner in python programming!'

"I'm a beginner in python programming!"

In [39]:
# Use another set of quotes to capture that inside single quote
" I'm a beginner in python programming! "

" I'm a beginner in python programming! "

In [40]:
print('I\'m a beginner in python')

I'm a beginner in python

In [41]:
print("I'm a beginner python programmer")

I'm a beginner python programmer

In [42]:
x = 'hello'

In [43]:
print(x)

hello

In [44]:
type(x)

str

In [45]:
a = "The boy is an exellent student"
print(a)
type(a)

The boy is an exellent student

str

## Basic Printing of Strings

In the jupyter notebook, a single string in a cell is automatically returned back. However, this is different than printing a string. Printing a string allows us to have multiple outputs. Let's see some useful examples:

In [46]:
'test'

'test'

In [49]:
'one'
'two'
'Three'

'Three'

In [50]:
print('one')
print('two')
print('Three')

one
two
Three

In [51]:
#printing on different lines using multiple print statements
print("python")
print("is")
print("awesome")

python
is
awesome

In [53]:
#printing sentences on a new line using a single print statement
print('This is the first line \nThe next line continues here \nand there is a third line \nAnd we go on and on with the lines')

This is the first line
The next line continues here
and there is a third line
And we go on and on with the lines

In [54]:
#prints spaces between words
print("Python Code")
print('this is a \ttab notice how this prints with space between')

Python Code
this is a 	tab notice how this prints with space between

In [55]:
print('The car is moving \tfast')

The car is moving 	fast

In [59]:
print('welcome to python \t\t\tprogram')

welcome to python 			program

In [60]:
print("\t\t\t\t * \n \t\t\t* \t\t * \n \t\t * \t\t * \t\t * \n \t * \t\t * \t\t * \t\t * \n * \t\t * \t\t * \t\t * \t\t *")

				 *
 			* 		 *
 		 * 		 * 		 *
 	 * 		 * 		 * 		 *
 * 		 * 		 * 		 * 		 *

In [62]:
print("\t\t\t\t * \n \t\t\t * \t\t * \n \t\t * \t\t * \t\t * \n \t * \t\t * \t\t * \t\t *")

				 *
 			 * 		 *
 		 * 		 * 		 *
 	 * 		 * 		 * 		 *

In [63]:
print("    * ")
print("   * * ")
print("  * * * ")
print(" * * * * ")
print("* * * * *")

    *
   * *
  * * *
 * * * *
* * * * *

In [64]:
print("        *  ")
print("   *          * ")
print("  *            *")
print(" *              * ")
print("  *            *")
print("   *          * ")
print("        *")

        *
   *          *
  *            *
 *              *
  *            *
   *          *
        *

In [65]:
"17 + 17"

'17 + 17'

In [66]:
17 + 17

34

## Indexing and Slicing

Since strings are *ordered sequences* of characters, it means we can "select" single characters (indexing) or grab sub-sections of the string (slicing).

### Indexing

Indexing starts a 0, so the string hello:

    character:    h    e    l   l   o
    index:        0    1    2   3   4
    
You can use square brackets to grab single characters

In [67]:
word = "hello"
print(word)

hello

In [68]:
word[0]

'h'

In [69]:
word[3]

'l'

In [70]:
word[4]

'o'

In [71]:
c = "Modinat"
print(c)

Modinat

In [72]:
c[2]

'd'

In [73]:
c[6]

't'

In [74]:
c[0]

'M'

Python also supports reverse indexing:

    character:        h     e     l    l    o
    index:            0     1     2    3    4
    reverse index:    0    -4    -3   -2   -1  
    
Reverse indexing is used commonly to grab the last "chunk" of a sequence.

In [75]:
word[-2]

'l'

In [76]:
word[0]

'h'

In [77]:
word[-5]

'h'

In [78]:
text = "Hello, welcome to python"

In [79]:
print(text)

Hello, welcome to python

In [80]:
len(text)

24

In [81]:
text[7]

'w'

In [82]:
text[6]

' '

In [83]:
text[23]

'n'

In [84]:
text[22]

'o'

### Slicing

We can grab entire subsections of a string with *slice* notation.

This is the notation:

    [start:stop:step]

Key things to note:

1. The starting index direclty corresponds to where your slice will start
2. The stop index corresponds to where you slice will go up to. **It does not include this index character!**
3. The step size is how many characters you skip as you go grab the next one.

Let's see some examples

In [85]:
alpha = 'abcdef'

In [86]:
print(alpha)

abcdef

In [87]:
# NOTICE HOW d IS NOT INCLUDED!
alpha[0:3]

'abc'

In [88]:
alpha[0:4]

'abcd'

In [89]:
alpha[2:4]

'cd'

In [90]:
alpha[2:]

'cdef'

In [91]:
alpha[:2]

'ab'

In [92]:
alpha[0:6:2]

'ace'

In [93]:
alpha[0:6:3]

'ad'

In [94]:
b = "this is a slicing example"

In [95]:
b

'this is a slicing example'

In [96]:
len(b)

25

In [97]:
b[18:]

'example'

In [98]:
b[2:23:3]

'iiali a'

In [99]:
x = "Multimedia"

In [100]:
x

'Multimedia'

In [101]:
len(x)

10

In [102]:
x[9]

'a'

In [103]:
x[0:10:1]

'Multimedia'

In [104]:
x[0:10:2]

'Mliei'

In [105]:
x[0:10:3]

'Mtea'

## Basic String Methods

Methods are actions you can call off an object usually in the form .method_name() notice the closed parenthesis at the end. Strings have many, many methods which you can check with the Tab functionality in jupyter notebooks, let's go over some of the more useful ones!

In [106]:
basic = "hello world I am still a beginner pythonista"

In [107]:
basic

'hello world I am still a beginner pythonista'

In [108]:
len(basic)

44

In [109]:
basic.upper() #converts all characters to uppercase

'HELLO WORLD I AM STILL A BEGINNER PYTHONISTA'

In [110]:
basic.lower() #converts all to lowercase

'hello world i am still a beginner pythonista'

In [111]:
# Preview, we'll learn about lists later on!
basic.split()

['hello', 'world', 'I', 'am', 'still', 'a', 'beginner', 'pythonista']

In [112]:
basic.split('i')

['hello world I am st', 'll a beg', 'nner python', 'sta']

In [113]:
basic.split('a')

['hello world I ', 'm still ', ' beginner pythonist', '']

### MORE STRING METHODS

In [114]:
sentence = """Where does it come from?
Contrary to popular belief, Lorem Ipsum is not simply random text. 
It has roots in a piece of classical Latin literature from 45 BC, 
making it over 2000 years old. Richard McClintock, a Latin professor at
Hampden-Sydney College in Virginia, looked up one of the more 
obscure Latin words, consectetur, from a Lorem Ipsum passage, and 
going through the cites of the word in classical literature, 
discovered the undoubtable source. 

Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
"de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
written in 45 BC. This book is a treatise on the theory of ethics, 
very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below 
for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham."""

In [115]:
sentence.count("a")

50

In [117]:
sentence.count("b")

12

In [118]:
sentence.count("c")

32

In [119]:
sentence.endswith("b")

False

In [120]:
sentence.startswith("b")

False

In [123]:
sentence.startswith("i")

False

# Print Formatting

You can use the .format() method off a string, to perform what is formally known as **string interpolation**, essentially inserting variables when printing a string.

In [124]:
user_name = "Newbie"
password = 12345

In [125]:
username = input("what is your username: ")

what is your username: Modinat

In [126]:
password = input("what is your password: ")

what is your password: 12345

In [127]:
print("Welcome {} and your password is {}".format(user_name, password))

Welcome Newbie and your password is 12345

In [128]:
action = 'learn'

In [129]:
print("The {} needs to {}".format(user_name,action))

The Newbie needs to learn

In [130]:
print("The {a} needs to {b}".format(a=user_name,b=action))

The Newbie needs to learn

In [131]:
print("The {b} needs to {a}".format(a=user_name,b=action))

The learn needs to Newbie

### Formatting Numbers

In [132]:
num = 245.9083
print("The number is: {}".format(num))

The number is: 245.9083

In [133]:
print("The code is: {:.1f}".format(num))

The code is: 245.9

In [134]:
print("The code is: {:.2f}".format(num))

The code is: 245.91

In [138]:
print("The code is: {:.3f}".format(num))

The code is: 245.908

In [136]:
print("The code is: {:.4f}".format(num))

The code is: 245.9083

### Slice out " ext and we are going "

In [139]:
test = "This is a really long piece of text and we are going use it for practice"

In [140]:
test

'This is a really long piece of text and we are going use it for practice'

In [141]:
len(test)

72

In [143]:
test[32:52]

'ext and we are going'

# Booleans

Booleans are data types that indicate a logical state of **True** or **False**. Python also has a placeholder object called **None**. Let's explore what these look like. We will work with them a lot more once we begin to learn about control flow with Python, but until then, let's just get to understand what they look like (notice the syntax highlighting).

In [144]:
# Booleans
a = True

In [145]:
a

True

In [146]:
type(a)

bool

In [147]:
b = False

In [148]:
type(b)

bool

Later on we will learn how comparison operators return booleans.

In [149]:
1 > 2

False

In [151]:
2 == 2

True

In [152]:
5 > 10

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [153]:
c = None

In [154]:
type(c)

NoneType